@model Models.Framework.CosmeticLine

@{
    ViewBag.Title = "THÊM DÒNG MỸ PHẨM";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="margin-left:300px">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CatId, "Tên loại", htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:20px" })
                <div class="col-md-6">
                    @Html.DropDownList("CatId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CatId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LineName,"Tên dòng" ,  htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:20px" })
                <div class="col-md-6" style="display:flex">
                    @Html.TextBoxFor(model => model.LineName, new { htmlAttributes = new { @class = "form-control" }, @required = "",@class= "form-control" })
                    @Html.ValidationMessageFor(model => model.LineName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Brand, "Thương hiệu", htmlAttributes: new { @class = "control-label col-md-4", @style = "font-size:20px" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control" }, @required = "", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Origin, "Xuất xứ", htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:20px" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Origin, new { htmlAttributes = new { @class = "form-control" }, @required = "", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Origin, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Huỷ", "Index", null, new { @class = "btn btn-danger ", @style = "font-size:15px" })
                    <button type="submit" class="btn btn-primary " style="font-size:15px"><i class=""></i> Save</button>
                </div>
            </div>
    </div>
}
