@model IEnumerable<Models.Framework.OderDetail>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double t = 0;
}
@section Script{
    @*<script src="/Assets/Font/js/Giohang.js"></script>*@
    <script>
        var cart = {
            init: function () {
                cart.regEvents();
            },
            regEvents: function () {
                $('#btnContinue').off('click').on('click', function () {
                    window.location.href = "/";
                });
                $('#btnPayment').off('click').on('click', function (e) {
                    e.preventDefault();
                    window.location.href = "/GioHang/Checkout";
                });
                $('#btnUpdate').off('click').on('click', function () {
                    var listProduct = $('.txtQuantity');
                    var cartList = [];
                    $.each(listProduct, function (i, item) {
                        cartList.push({
                            Quantity: $(item).val(),
                            SpecificProduct: {
                                ProId: $(item).data('id')
                            }
                        });
                    });
                    $.ajax({
                        url: '/GioHang/Update',
                        data: { cartModel: JSON.stringify(cartList) },
                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                window.location.href = "/GioHang/Cart";
                            }
                        }
                    })
                });
                $('.btnDelete').off('click').on('click', function (e) {
                    e.preventDefault();
                    $.ajax({
                        data: { id: $(this).data('id') },
                        url: '/GioHang/Delete',
                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                alert("Xoá sản phẩm thành công!")
                                window.location.href = "/GioHang/Cart";
                            }
                        }
                    })
                })
            }
        }
        cart.init();
    </script>
}
<header class="header-section d-none d-xl-block">
    <div class="header-wrapper">
        <div class="header-bottom header-bottom-color--golden section-fluid sticky-header sticky-color--golden">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Start Header Logo -->
                        <div class="header-logo">
                            <div class="logo">
                                <a href="/"><img src="/Assets/Font/images/logo/logo_black.png" alt=""></a>
                            </div>
                        </div>
                        <!-- End Header Logo -->
                        <!-- Start Header Main Menu -->
                        <div class="main-menu menu-color--black menu-hover-color--green">
                            <nav>
                                <ul>
                                    <li class="has-dropdown">
                                        <a class="active main-menu-link" href="/">Trang chủ </a>
                                    </li>
                                    <li class="has-dropdown has-megaitem">
                                        <a href="/SanPham/ChitietSP"> Sản phẩm <i class="fa fa-angle-down"></i></a>
                                        <!-- Mega Menu -->
                                        <div class="mega-menu">
                                            <ul class="mega-menu-inner">
                                                <!-- Mega Menu Sub Link -->
                                                <li class="mega-menu-item">
                                                    <a href="/SanPham/Trangdiem" class="mega-menu-item-title">Trang Điểm</a>
                                                    <ul class="mega-menu-sub">
                                                        <li><a href="shop-grid-sidebar-left.html">Cushion</a></li>
                                                        <li><a href="shop-grid-sidebar-right.html">Kem nền</a></li>
                                                        <li><a href="shop-full-width.html">Phấn má hồng</a></li>
                                                        <li><a href="shop-list-sidebar-left.html">Xịt khoáng</a></li>
                                                        <li><a href="shop-list-sidebar-right.html">Son Môi</a></li>
                                                        <li><a href="shop-list-sidebar-left.html">Son dưỡng</a></li>
                                                        <li><a href="shop-list-sidebar-right.html">Phấn mắt</a></li>
                                                    </ul>
                                                </li>
                                                <!-- Mega Menu Sub Link -->
                                                <li class="mega-menu-item">
                                                    <a href="/SanPham/Chamsocda" class="mega-menu-item-title">Chăm Sóc Da</a>
                                                    <ul class="mega-menu-sub">
                                                        <li><a href="cart.html">Mask giấy</a></li>
                                                        <li><a href="empty-cart.html">Mặt nạ</a></li>
                                                        <li><a href="wishlist.html">Sữa rửa mặt</a></li>
                                                        <li><a href="compare.html">Dưỡng da mặt</a></li>
                                                        <li><a href="checkout.html">Tẩy da chết</a></li>
                                                        <li><a href="login.html">Dưỡng da mắt</a></li>
                                                        <li><a href="my-account.html">Lotion</a></li>
                                                    </ul>
                                                </li>
                                                <!-- Mega Menu Sub Link -->
                                                <li class="mega-menu-item">
                                                    <a href="/SanPham/Nuochoa" class="mega-menu-item-title">Nước Hoa</a>
                                                    <ul class="mega-menu-sub">
                                                        <li><a href="ChitietSP.html">Nước hoa nữ</a></li>
                                                        <li><a href="product-details-variable.html">Nước hoa nam</a></li>
                                                        <li><a href="product-details-affiliate.html">Xịt body</a></li>
                                                        <li><a href="product-details-group.html">Sữa tắm</a></li>
                                                        <li><a href="product-details-single-slide.html">Tẩy lông</a></li>
                                                        <li><a href="product-details-group.html">Sữa dưỡng thể</a></li>
                                                        <li><a href="product-details-single-slide.html">Kem dưỡng tay</a></li>
                                                    </ul>
                                                </li>
                                                <!-- Mega Menu Sub Link -->
                                                <li class="mega-menu-item">
                                                    <a href="/SanPham/Phukien" class="mega-menu-item-title">Phụ Kiện</a>
                                                    <ul class="mega-menu-sub">
                                                        <li><a href="product-details-tab-left.html">Dụng cụ trang điểm</a></li>
                                                        <li><a href="product-details-tab-right.html">Phụ kiện làm đẹp</a></li>
                                                        <li><a href="product-details-gallery-left.html">Sơn móng tay</a></li>
                                                        <li><a href="product-details-gallery-right.html">Rửa móng</a></li>
                                                        <li><a href="product-details-sticky-left.html">Mút đánh phấn</a></li>
                                                        <li><a href="product-details-sticky-right.html">Mặt nạ nén</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <div class="menu-banner">
                                                <a href="#" class="menu-banner-link">
                                                    <img class="menu-banner-img" src="/Assets/Font/images/banner/banner-blackV.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="/Home/Khuyenmai">Khuyến mãi</a>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">Tin tức<i class="fa fa-angle-down"></i></a>
                                        <!-- Sub Menu -->
                                        <ul class="sub-menu">
                                            <li><a href="/Home/About">Về chúng tôi</a></li>
                                            <li><a href="/Tintuc/Review">Review sản phẩm</a></li>
                                            <li><a href="/Tintuc/CSdoitra">Chính sách đổi trả</a></li>
                                            <li><a href="/Tintuc/Login">Đăng nhập</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Thương Hiệu <i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="#">3CE</a></li>
                                            <li><a href="#">3W Clinic</a></li>
                                            <li><a href="">A'PIEU</a></li>
                                            <li><a href="">Aritaum</a></li>
                                            <li><a href="">Avene</a></li>
                                            <li><a href="">Bath and body works</a></li>
                                            <li><a href="">Benton</a></li>
                                            <li><a href="">Biodema</a></li>
                                            <li><a href="">Careline</a></li>
                                            <li><a href="">City color</a></li>
                                            <li><a href="">Covergril</a></li>
                                            <li><a href="">DHC</a></li>
                                            <li><a href="">Dr.Belmeur</a></li>
                                            <li><a href="">Etude House</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/Home/Contact">Liên hệ</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- End Header Main Menu Start -->
                        <!-- Start Header Action Link -->
                        <ul class="header-action-link action-color--black action-hover-color--green">
                            <li>
                                <a href="#offcanvas-wishlish" class="offcanvas-toggle">
                                    <i class="icon-heart"></i>
                                    <span class="item-count">3</span>
                                </a>
                            </li>
                            @{Html.RenderAction("HeaderCart", "Home");}
                            <li>
                                <a href="#search">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#offcanvas-about" class="offacnvas offside-about offcanvas-toggle">
                                    <i class="icon-menu"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- End Header Action Link -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Start Header Area -->
<!-- Start Mobile Header -->
<div class="mobile-header mobile-header-bg-color--golden section-fluid d-lg-block d-xl-none">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <!-- Start Mobile Left Side -->
                <div class="mobile-header-left">
                    <ul class="mobile-menu-logo">
                        <li>
                            <a href="/">
                                <div class="logo">
                                    <img src="/Assets/Font/images/logo/logo_black.png" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile Left Side -->
                <!-- Start Mobile Right Side -->
                <div class="mobile-right-side">
                    <ul class="header-action-link action-color--black action-hover-color--golden">
                        <li>
                            <a href="#search">
                                <i class="icon-magnifier"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#offcanvas-wishlish" class="offcanvas-toggle">
                                <i class="icon-heart"></i>
                                <span class="item-count">3</span>
                            </a>
                        </li>
                        <li>
                            <a href="#offcanvas-add-cart" class="offcanvas-toggle">
                                <i class="icon-bag"></i>
                                <span class="item-count">3</span>
                            </a>
                        </li>
                        <li>
                            <a href="#mobile-menu-offcanvas" class="offcanvas-toggle offside-menu">
                                <i class="icon-menu"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile Right Side -->
            </div>
        </div>
    </div>
</div>
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Giỏ hàng</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="/">Trang chủ</a></li>
                                <li><a href="#">Sản phẩm trong giỏ hàng</a></li>
                                <li class="active" aria-current="page">Giỏ hàng</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->
<!-- ...:::: Start Cart Section:::... -->
<div class="cart-section">
    <!-- Start Cart Table -->
    <div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="table_page table-responsive">
                            <table>
                                <!-- Start Cart Table Head -->
                                <thead>
                                    <tr>
                                        <th class="product_remove">Xoá</th>
                                        <th class="product_thumb">Hình ảnh</th>
                                        <th class="product_name">Tên mỹ phẩm</th>
                                        <th class="product-price">Giá</th>
                                        <th class="product_quantity">Số lượng</th>
                                        <th class="product_total">Thành tiền</th>
                                    </tr>
                                </thead> <!-- End Cart Table Head -->
                                <tbody>
                                    <!-- Start Cart Single Item-->

                                    @foreach (var sp in Model)
                                    {
                                        if (sp.SpecificProduct.Offer == null)
                                        {
                                            t = t + sp.Quantity * sp.SpecificProduct.Price;
                                        }
                                        else
                                        {
                                            t = t + (double)(sp.Quantity * (sp.SpecificProduct.Price - sp.SpecificProduct.Offer * sp.SpecificProduct.Price));
                                        }
                                        <tr>
                                            <td class="product_remove"><a href="#" data-id="@sp.SpecificProduct.Product.ProId" class="btnDelete"><i class="fa fa-trash-o"></i></a></td>
                                            <td class="product_thumb"><a href="product-details-default.html"><img src="@sp.SpecificProduct.Image" alt=""></a></td>
                                            <td class="product_name"><a href="product-details-default.html">@sp.SpecificProduct.Product.ProName</a></td>
                                            @if (sp.SpecificProduct.Offer != null)
                                            {
                                                <td class="product-price price">@(sp.SpecificProduct.Price- sp.SpecificProduct.Price* sp.SpecificProduct.Offer)</td>
                                            }
                                            else
                                            {
                                                <td class="product-price price">@sp.SpecificProduct.Price</td>
                                            }
                                            <td class="product_quantity"> <input min="1" max="100" value="@sp.Quantity" type="number" class="txtQuantity" data-id="@sp.SpecificProduct.Product.ProId"></td>
                                            @if (sp.SpecificProduct.Offer != null)
                                            {
                                                <td class="product-price price">@(sp.Quantity *(sp.SpecificProduct.Price- sp.SpecificProduct.Price* sp.SpecificProduct.Offer))</td>
                                            }
                                            else
                                            {
                                                <td class="product_total price">@(sp.Quantity * sp.SpecificProduct.Price)</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="cart_submit">
                            <button id="btnUpdate" class="btn btn-md btn-golden" type="submit">update cart</button>
                            <button id="btnContinue" class="btn btn-md btn-golden" type="submit">Tiếp tục mua hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Cart Table -->
    <!-- Start Coupon Start -->
    <div class="coupon_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="coupon_code right" data-aos="fade-up" data-aos-delay="400">
                        <h3>Tạm tính</h3>
                        <div class="coupon_inner">
                            <div class="cart_subtotal">
                                <p>Thành tiền</p>
                                <p class="cart_amount price">@t</p>
                            </div>
                            <div class="cart_subtotal ">
                                <p>Phí ship(toàn quốc)</p>
                                <p class="cart_amount"> 30.000đ</p>
                            </div>
                            @*<a href="#">Calculate shipping</a>*@

                            <div class="cart_subtotal">
                                <p>Tổng tiền</p>
                                <p class="cart_amount price">@(t+30000)</p>
                            </div>
                            <div class="checkout_btn">
                                <a href="#" class="btn btn-md btn-golden" id="btnPayment"> Tiến hành đặt hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Coupon Start -->
</div>





